<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <% for (var i of users) { %> 
        <p><%= i.id %></p>
        <p><%= i.name %></p>
        <p><%= i.age %></p>
        <form action="/pig/destroy/<%=i.id %>" method="post">
        <input type="submit", value="delete">
        </form>
        
        <% } %>
    </div>

</body>
</html>