<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/quote" method="post">
        <p>name: <input type="text", name= "name"></p>
        <p>your quote: <input type="text", name= "quote"></p>
        <input type="submit", value="add my quote">
        </form> 
        <form action="/quotepage" method="post">
        <input type="submit", value="Skip to quotes">
        
        
        </form>
   

</body>
</html>