<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Index</title>
</head>

<body>
    <form action="/result" method="post">
        <p>Name:<input type="text" name="name"></p>
        <p>Dojo Location:
            <select name = "location">
                <option>San Jose</option>
                <option>Seattle</option>
                <option>New York</option>
                <option>Dallas</option>
                <option>Boise</option>
            </select>
        </p>
        <p>Favorite Langauge:
                <select name= "language">
                    <option>Javascript</option>
                    <option>Python</option>
                    <option>Java</option>
                    <option>Ruby</option>
                    <option>C+</option>
                </select>
            </p>
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
<!-- {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
<!--     {% if messages %}                            check if there are any messages
        {% for message in messages %}            loop through the messages -->
        <!--     <p>{{message}}</p>                   display each message in a paragraph tag -->
<!--         {% endfor %}
    {% endif %}
{% endwith %} -->
 -->


    </form>

</body>

</html>