<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Name: <%= data[0].name%></p>
    <p>Location: <%= data[1].location%> </p>
    <p>Language:<%= data[2].language%> </p>
    <p>Comment: <%= data[3].comment%> </p>
</body>
</html>