<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        <p>name: <input type="text", name= "name"></p>
        <p>age: <input type="text", name= "age"></p>
        <input type="submit">
        
    </form>
    <div>
        <% for (var i of users) { %> 
        <p><%= i.name %></p>
        <p><%= i.age %></p>
        <% } %>
    </div>

</body>
</html>