<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Detail page for goofball:</h2>
    <a href= "/goofball"><img src="images/cat2.jpg"></a>
        <h3>Hobby: <%= info[2].hobby %></h3>
        <hr>
    
</body>
</html>